html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f4f8;
    color: #333333;
}

.App {
    background-image: linear-gradient(to right, #3b0014, #000000); /* Guinda oscuro degradado */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff; /* Texto en blanco */
}

/* Media queries */
@media (min-width: 910px) {
    main {
        margin-left: 5em;
    }
}

@media (max-width: 910px) {
    main {
        margin-top: 4em;
    }
}